body {
  background: url(https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Colorful-Geometric-Simple-Background-Image.jpg) no-repeat center center
    fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  min-width: 800px;
  background-color: rgba(12, 24, 54, 0.85);
  height: 525px;
}

.scorecard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 15px;
  height: 40px;
  background-color: rgba(12, 24, 54);
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.description {
  color: white;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
}

.button-section {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  height: 200px;
  text-align: center;
  padding-top: 50px;
  color: white;
}

img {
  width: 150px;
}

img:hover {
  transform: scale(1.2);
}

.text-section {
  position: relative;
  text-align: center;
  font-size: 40px;
  color: white;
}

.new-game-btn {
  position: relative;
  margin-left: 50px;
  width: 120px;
  height: 40px;
  background-color: rgba(12, 24, 54);
  color: white;
  font-size: 15px;
  border: none;
}

.new-game-btn:hover {
  border: 1px solid white;
}
